<div class="logoImageHome">
    <a href="/ap/contact">
        <img src="http://sites.bxmc.poly.edu/~alexanderperez/DynamicWeb/midterm/images/apLogoDraft.png">
    </a>

<!--
    <ul>
        <li><a href="/ap/portfolio">Portfolio</a></li>
        <li><a href="/ap/services">Services</a></li>
        <li><a href="/ap/contact">Contact</a></li>
        <li><a href="/ap/shop">Shop</a></li>
    </ul>
</div>-->
